.disp
{
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
}

.disp-icon
{
  color: #ffffff;
  font-size: 24px;
  font-weight: normal;
}

.swal2-header {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.swal2-styled.swal2-confirm {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.swal2-styled.swal2-cancel {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}